
  

  <!-- Sidebar Navigation Left -->
  <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
      <br><br>
      <a  class="text-center"> <img class="rounded-circle "src="assets/70.png" alt="logo"></a>
      <h5 class="text-center text-white mt-2">COC jaarverslag</h5>
      <h6 class="text-center text-white mb-3">2019</h6>

    </div><br>
    <div (click)="clickNav()"  class="ms-aside-toggler ms-toggler" style="float: right;align-self: flex-end;">
      <span class="ms-toggler-bar bg-white"></span>
      <span class="ms-toggler-bar bg-white"></span>
      <span class="ms-toggler-bar bg-white"></span>
    </div>
    <br><br>
    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14"  style="cursor: pointer;" id="side-nav-accordion">
      
      <!-- Dashboard -->
      <li class="menu-item">
        <a data-target="#home" aria-expanded="false" aria-controls="dashboard">
          <span>Home</span>
        </a>
        <a  class="has-chevron" data-toggle="collapse" data-target="#dashboard1" aria-expanded="false" aria-controls="dashboard">
          <span><b>1.</b>&nbsp;&nbsp;Voorwoord </span>
        </a>
        <ul id="dashboard1" class="collapse" aria-labelledby="dashboard1" data-parent="#side-nav-accordion">
          <li> <a (click)="checkIfMobile()">Voorzitter COC</a> </li>
        </ul>
      </li>

      <li class="menu-item">
        <a  class="has-chevron" data-toggle="collapse" data-target="#dashboard2" aria-expanded="false" aria-controls="dashboard">
          <span><b>2.</b>&nbsp;&nbsp;Overleg momenten</span>
        </a>
        <ul id="dashboard2" class="collapse" aria-labelledby="dashboard2" data-parent="#side-nav-accordion">
          <li> <a (click)="checkIfMobile()">Vergaderstrucuur omschrijving</a> </li>
          <li> <a (click)="checkIfMobile()">Doelstellingen omschrijving</a> </li>
          <li> <a (click)="checkIfMobile()">Bijeenkomsttabel</a> </li>
        </ul>
      </li>

      <li class="menu-item">
        <a  class="has-chevron" data-toggle="collapse" data-target="#dashboard3" aria-expanded="false" aria-controls="dashboard">
          <span><b>3.</b>&nbsp;&nbsp;Reflectie</span>
        </a>
        <ul id="dashboard3" class="collapse" aria-labelledby="dashboard3" data-parent="#side-nav-accordion">
          <li> <a (click)="checkIfMobile()">Speerpunten</a> </li>
          <li> <a (click)="checkIfMobile()">Reguliere thema's</a> </li>
          <li> <a (click)="checkIfMobile()">Niet regulaire thema's</a> </li>
        </ul>
      </li>

      <li class="menu-item">
        <a  class="has-chevron" data-toggle="collapse" data-target="#dashboard4" aria-expanded="false" aria-controls="dashboard">
          <span><b>4.</b>&nbsp;&nbsp;Speerpunten 2020 </span>
        </a>
        <ul id="dashboard4" class="collapse" aria-labelledby="dashboard4" data-parent="#side-nav-accordion">
          <li> <a (click)="checkIfMobile()">Instelling visitatie</a> </li>
          <li> <a (click)="checkIfMobile()">Welzijn aiossen en opleiders</a> </li>

        </ul>
      </li>

      <li class="menu-item">
        <a  class="has-chevron" data-toggle="collapse" data-target="#dashboard5" aria-expanded="false" aria-controls="dashboard">
          <span><b>5.</b>&nbsp;&nbsp;Bijlagen</span>
        </a>
        <ul id="dashboard5" class="collapse" aria-labelledby="dashboard5" data-parent="#side-nav-accordion">
          <li> <a (click)="checkIfMobile()">Samenstelling COC</a> </li>
          <li> <a (click)="checkIfMobile()">Functie- en takenregelement</a> </li>
          <li> <a (click)="checkIfMobile()">Kwaliteitsinstrumenten</a> </li>
          <li> <a (click)="checkIfMobile()">Analyse leerklimaat 2019</a> </li>
        </ul>
      </li>
      <!-- /Dashboard -->
      <!-- Doctor -->
      <!-- <li class="menu-item">
        <a  class="has-chevron" data-toggle="collapse" data-target="#doctor" aria-expanded="false" aria-controls="doctor">
          <span>Doctor</span>
        </a>
        <ul id="doctor" class="collapse" aria-labelledby="doctor" data-parent="#side-nav-accordion">
          <li> <a (click)="checkIfMobile()" pageScroll href="#testlink">Testlink</a> </li>
          <li> <a (click)="checkIfMobile()">Doctor List</a> </li>
        </ul>
      </li> -->

      
      <!-- /Apps -->
    </ul>
  </aside>
  
  <!-- Main Content -->
  <main class="body-content">
    <!-- Navigation Bar -->
    <nav class="navbar sticky-top ms-navbar">
      <div (click)="clickNav()"  class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
        <span class="ms-toggler-bar bg-white"></span>
        <span class="ms-toggler-bar bg-white"></span>
        <span class="ms-toggler-bar bg-white"></span>
      </div>
      <div class="ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0"> <img class="rounded-circle "src="assets/70.png" alt="logo"> </a>
      </div>
    </nav>
    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">
        <router-outlet></router-outlet>

          
        <!-- Notifications Widgets -->
        
    </div>
  </main>
  <!-- MODALS -->
  